body {
  background-color: #000000;
  color: #cfcfcf;
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

h2 {
  color: white;
  font-weight: lighter;
  font-size: normal;
  margin-bottom: 4vh;

}

h2.pageNumber {
  color: #a7a7a7;
  font-weight: normal;
  text-align: left;
  font-size: medium;
  margin-bottom: 0vh;
}

#teletext-content {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #000000;
  border: 2px solid #a7a7a7;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2); 
}

.teletext-line {
  white-space: pre;
  line-height: 0.3em; 
  font-size: 1.1em;   
  margin-bottom: 1.2em; 
  letter-spacing: 0.05em; 
}

button{
  padding: 10px 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
  background-color: black;
  color: white;
  border: 2px solid #a7a7a7;
  cursor: pointer;
}

input{
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
  border: 2px solid #a7a7a7;
  background-color: black;
  color: white;
  text-align: center;
  width: 200px;
  transition: border-color 0.1.5s ease, background-color 0.1.5s ease, color 0.1.5s ease;
}

input:focus {
  outline: none;
  border-color: white;
  background-color: white;
  color: black;
}

.navigation-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.page-navigation {
  display: flex;
  justify-content: flex-end;
}

